library/.classpath
library/.project
library/bin/
library/gen/
sample/.classpath
sample/.project
sample/bin/
sample/gen/
sample.net/bin/
sample.net/obj/
ActionBarSherlock/bin/
ActionBarSherlock/obj/
_ReSharper.sample.net
*.suo